@font-face{
	font-family:"mapolice";
	src: url(mapolice.ttf)
}

@font-face{
	font-family: "mapolice2";
	src: url(mapolice2.ttf);
}

body{
	margin:0px;
	padding:0px;
	background-color:rgb(247,239,230);
	width:auto;
}

#en_tete{
	background: url("image/logo.jpg") scroll no-repeat;
	opacity: 0.9;
	margin:0px;
	padding:0px;
	border-bottom: 2px black inset;

}

nav label{
	display:none;}

nav input[type=checkbox]{
	display:none;
}

.mobile_reseaux{
	display:none;
}

ul > #reseaux{
	display:flex;
	justify-content: center;
	align-items: baseline;
}

.menu{
	width:auto;
	height:37px;
	border-bottom:2px black inset;	
}


.menu > ul{         /*cibler ul suivant un nav*/
	background-color:rgb(247,239,230);
	display:flex;
	width:auto;
	justify-content: center;
	height:37px;
	margin:0px;
	font-family:mapolice2,arial;
	font-weight: bold;
	}

.deroulant{               /*gere les items du menu*/
		display:inline-block; 
		text-align: center;
		font-size: 90%;
		width:20%;
		list-style-type: none;	
		position:relative;
		padding-top:2px;	
	}

.menu a{                       /* apparence des liens*/
	text-decoration: none;
	color:#645E63;
	font-size: 150%; 
}



.sous{
	display:none;
}


.deroulant:hover {
  background-color:rgb(225,208,188);
  height:35px;
}

.sous li:hover{
	font-weight: bold;
	width:auto;
}

.deroulant:hover .sous{
	display:block;
    background-color: rgb(247,239,230);
    list-style-type: none;
    position:absolute;
    top:100%;
    width:100%;
    padding:0px;
   }

.sous li:hover a{
color:rgb(200,185,167);
 
} 


#logo{
 display:flex;
 justify-content: center;
 align-items: center;
 padding-top:5%;
 padding-bottom: 5%;
}


#section{
	background-color:rgb(247,239,230);
}


h1 {
	font-family: mapolice,arial;
	font-size:90px;
	text-align: center;
	text-decoration: underline;
}

.liste {
	width:auto;
    border:2px solid black;
    border-radius: 20px;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:150px;
    
}


.liste ul{	
	font-size: 20px;
	text-align:center;
	list-style-type: none;
	padding:0px;
	
}

h2{
	text-decoration: underline;
	font-size: 60px;
	font-family: mapolice;
	text-align: center;
	padding:0px;
	margin-top:5px;
	margin-bottom: 5px;
}

.liste li a{
	text-decoration: none;
	color:#645E63;
}

.nom{
	font-family: mapolice2;
	font-weight:bold;
}


.recherche{
	display:flex;
	padding:10px;
	margin-top:60px;
	margin-bottom:60px;
	border:2px solid black;
	border-radius:10px 10px 10px 10px;
	width:auto;
	margin-left: 5px;
	margin-right: 5px;
}

.recherche label{
	font-family:mapolice2,arial;
	font-size: 25px;
	font-weight: bold;
	margin-right:10px;
}

input #recherche{
	flex-grow: 2;
	height: 20px;
}


#bas_de_page{
	display:block;
	justify-content: center;
	align-items: center;
}

#copyright,#reseaux{
	display:flex;
	justify-content: center;
	align-items: center;
}





@media all and (max-width:1000px){

#bloc_page{
	width:auto;

	}

#en_tete{
		display:flex;
		flex-direction: column-reverse;
		border-bottom:2px solid black;
	}

.mobile{
	display:block;
	width:auto;
	text-align: center;
	border-top:2px solid black;
	border-bottom:2px solid black;
	padding:10px;
	font-family:"mapolice2",arial;
	font-weight: bold;
	font-size: 20px;
	background-color: rgb(213,189,160);
}
   

.menu input[type=checkbox]:checked ~ ul{
	display:block;
	background-color:#E3CCB2;
	padding-bottom:8px;
	padding-top:8px;
}

.menu ul{
	display:none;
	padding:0px;
}

.deroulant{
	width:100%;
	background-color: #E3CCB2;
		
}

.menu li:hover .sous{
	width:auto;
	display:block;
	position:static;
	margin-bottom:30px;
	background-color:#F3E5D5
}

.sous li a{
	width:100%;
	text-align:center;}

.sous a:hover{
	color:rgb(206,183,157);
}

#reseaux{
	justify-content: center;
	align-items: center;
}	

#section{
	margin-top:180px;
	margin-bottom: 40px;	
		
	}
 

  
}